* {
  font-family: "Inter Tight", sans-serif;
}
:root {
  --light-color: #b67e7d;
  --secondary-color: #640000;
  --tertiary-color: #420001;
  --text-color: #040b15;
  --content-color: #dad5d5;
}

.features {
  padding: 4rem 0 0rem;
  background: linear-gradient(
    to top,
    rgba(100, 0, 0, 0.26),
    rgba(182, 126, 125, 0.12),
    rgba(255, 255, 255, 0.9) 95%
  );
  position: relative;
}
.feature-items{
  display: grid;
  gap: 1rem;
}
.features::after {
  content: "";
  display: block;
  height: 3rem;
}

.features-container {
  margin: 1rem;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 5px;
  border-radius: 50px;
  background: whitesmoke;
  color: var(--tertiary-color);
  font-size: 1rem;
  font-weight: 500;
  width: 120px;
  height: 40px;
  border: 3px solid rgb(240, 240, 240);
  margin: 2% auto 2%;
  box-shadow: inset 1px 1px 5px white;
}

.title img {
  width: 22px;
  height: 22px;
  object-fit: contain;
}

.feature-content {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 4%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.feature-content p {
  font-size: 16px;
}

.item-1,
.item-3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 1.5rem;
  border-radius: 0.8rem;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item-1 {
  border: solid 2px white;
  background: linear-gradient(to bottom, rgba(182, 126, 125, 0.193), transparent 48%);
}

.item-3 {
  border: solid 5px white;
  background: #ffffff;
}

.f-wrap h5 {
  font-size: 22px;
  font-weight: 600;
  color: var(--secondary-color);
  padding-bottom: 2%;
}


.item-1 img,
.item-3 img {
  width: 100%;
  margin-left: 0;
  object-fit: contain;
}

.top-2,
.bottom-3 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


@media (min-width: 768px) and (max-width: 1023px) {
  .feature-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .top-2,
  .bottom-3 {
    display: contents;
  }


  .bottom-3 .item-3:last-child {
    grid-column: 1 / -1;
  }
}

@media (min-width: 1024px) {
  .feature-items {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .top-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: stretch;
  }

  .bottom-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    align-items: stretch;
  }

  .item-1,
  .item-3 {
    padding: 2rem;
  }

  .feature-content h1 {
    font-size: 2rem;
  }

  .feature-content p {
    font-size: 1.1rem;
  }
}
.f-icon img{
  margin: 0px auto;
  width: 34px;
}