:root {
  --light-color: #b67e7d;
  --secondary-color: #640000;
  --tertiary-color: #420001;
  --text-color: #040b15;
  --content-color: #dad5d5;
}

* {
  font-family: "Inter Tight", sans-serif;
  scroll-behavior: auto;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
  padding: 20px 0;
  margin-top: 6rem;
  -webkit-mask: linear-gradient(
    90deg,
    transparent 0%,
    white 10%,
    white 90%,
    transparent 100%
  );
  mask: linear-gradient(
    90deg,
    transparent 0%,
    white 10%,
    white 90%,
    transparent 100%
  );
}
.company {
  height: 1%;
  background: linear-gradient(
    to bottom,
    rgba(182, 126, 125, 0.5),
    transparent 28%
  );
}
.carousel-text {
  font-size: 28px;
  font-weight: 500;
  text-align: center;
  position: relative;
  top: 4rem;
  color: var(--tertiary-color);
}
.card {
  flex: 0 0 auto;
  width: auto;
  height: 50px;
  background-color: whitesmoke;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}
.card img {
  width: 100px;
}

.carousel-track {
  display: flex;
  gap: 1rem;
  width: max-content;
  animation: scroll 20s linear infinite;
}
.fade-left,
.fade-right {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px;
  pointer-events: none;
  z-index: 1;
}
.fade-left {
  left: 0;
  background: linear-gradient(to right, white, transparent);
}

.fade-right {
  right: 0;
  background: linear-gradient(to left, white, transparent);
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.process {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 25px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background: whitesmoke;
  color: var(--tertiary-color);
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.3s ease;
  width: 120px;
  height: 40px;
  border: 3px solid white;
  margin: 4% auto 6%;
  box-shadow: inset 1px 1px 5px white;
}
.process img {
  width: 22px;
  height: 22px;
  object-fit: contain;
}

.htw ,.t-1{
  font-size: 42px;
  font-weight: 420;
  color: var(--tertiary-color);
  text-align: center;
}

.htw-content, .c-1 {
  font-size: 15px;
  color: var(--tertiary-color);
  text-align: center;
  margin-top: 3%;
}
.tags {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  margin: 0 auto;
  justify-content: center;
  margin-top: 6%;
}
.tag {
  width: fit-content;
  height: 40px;
  padding: 16px;
  display: flex;
  align-items: center;
  background-color: white;
  border: 1px solid var(--content-color);
  border-radius: 2rem;
  box-shadow: 0.2px 0.2px 2px var(--light-color);
}
.tag p {
  text-align: center;
}
.tag img {
  width: 18px;
  margin-right: 10px;
}

.htw-graph {
  background: white;
  width: 450px;
  height: 320px;
  margin: 20px auto;
  margin-top: 12%;
  margin-bottom: 8%;
  border: 4px solid whitesmoke;
  border-radius: 0.5rem;
  padding-bottom: -5px;
  display: flex;
  align-content: center;
  justify-content: center;
}
.htw-graph img {
  width: 100%;
  padding: 2px;
  border-radius: 0.5rem;
}

.bottom {
  margin: 20px;
}
.b-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--tertiary-color);
}
.b-1 {
  margin-top: 1rem;
  font-size: 30px;
  color: var(--tertiary-color);
  font-weight: 500;
}

.b-content button {
  padding: 12px;
  margin-top: 2%;
  width: 30%;
  color: whitesmoke;
  background: var(--light-color);
  box-shadow: inset 1px 1px 3px white;
  border: none;
  font-size: 16px;
  font-weight: 400;
  border-radius: 22px;
}

@media (min-width: 968px) {
  .carousel-container {
    width: 75%;
    margin: 6% auto;
  }
  .process {
    margin-top: -3%;
  }
  .how-it-works {
    margin-top: -2%;
  }
  .htw-content {
    margin-top: 3%;
    font-size: 18px;
  }
  .tags {
    display: flex;
    flex-direction: row;
    margin-top: 4%;
  }
  .bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .tag,
  .b-1,
  .b-2 {
    grid-column: 1;
  }
  .htw-graph {
    grid-column: 2;
    grid-row: 1 / span 3;
    width: 500px;
    height: auto;
  }
  .b-content {
    padding: 50px;
    margin-top: 4%;
  }
  .b-content button {
    width: 40%;
  }
  .b-tag {
    font-size: 18px;
  }
  .b-1 {
    font-size: 42px;
    margin-top: 1%;
  }
  .b-2 {
    font-size: 16px;
  }
}

@media (max-width: 1300px) {
  .bottom {
    width: 90%;
  }
}
